attrs==23.1.0
autobahn==23.6.2
Automat==22.10.0
binance-connector==3.1.1
binance-futures-connector==3.3.1
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
constantly==15.1.0
cryptography==41.0.2
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
numpy==1.25.1
pandas==2.0.3
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pycryptodome==3.18.0
pyOpenSSL==23.2.0
PySide6==6.5.1.1
PySide6-Addons==6.5.1.1
PySide6-Essentials==6.5.1.1
python-dateutil==2.8.2
pytz==2023.3
requests==2.31.0
service-identity==23.1.0
shiboken6==6.5.1.1
six==1.16.0
Twisted==22.10.0
twisted-iocpsupport==1.0.3
txaio==23.1.1
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.4
websocket-client==1.6.1
zope.interface==6.0
